<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expnd-sm bg-light">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand"> Bethany's Pie Shop</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a asp-controller="Feedback" asp-action="Index" class="nav-link">Feedback </a>
            </li>
        </ul>
        <partial name="_loginPartial" />
    </nav>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
